[Unit]
Description=Octopoda Brain Deamon for ICN Platform Project
StartLimitIntervalSec=1
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/octopoda/brain/bin/brain
ExecStop=/bin/kill -9 $(/bin/pidof brain)
ExecReload=/bin/kill -9 $(/bin/pidof brain) && /root/octopoda/brain/bin/brain

[Install]
WantedBy=multi-user.target