[Unit]
Description=NIP Worker Deamon
StartLimitIntervalSec=1
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/platform/nworkerd
ExecStop=kill -9 $(pidof nworkerd)
ExecReload=kill -9 $(pidof nworkerd) && /root/platform/nworkerd

[Install]
WantedBy=multi-user.target