[Unit]
Description=Octopoda Tentacle Deamon for ICN Platform Project
StartLimitIntervalSec=1
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/octopoda/tentacle/bin/tentacle
ExecStop=kill -9 $(pidof tentacle)
ExecReload=kill -9 $(pidof tentacle) && /root/octopoda/tentacle/bin/tentacle

[Install]
WantedBy=multi-user.target