[Unit]
Description=Octopoda Tentacle Deamon for ICN Platform Project
StartLimitIntervalSec=1
After=network.target
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/octopoda/tentacle -c /etc/octopoda/tentacle/tentacle.yaml
ExecStop=/bin/kill -9 $(/bin/pidof tentacle)
ExecReload=/bin/kill -9 $(/bin/pidof tentacle) && /usr/local/bin/octopoda/tentacle -c /etc/octopoda/tentacle/tentacle.yaml

[Install]
WantedBy=multi-user.target